// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container-order{
 width: 700px;
}

.order_font {
	font-size: 150%;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	color: #000;
	position: relative;
	right: 0;
}